<div id="needs_container">

	<div id="needs_list">
		<div class="page_title">
			<span>Needs</span>
			<div class="new_link"><%= link_to '+ New Need', new_need_path %></div>
			<br style="clear:both;">
		</div>

		<% @needs.each do |need| %>
			<div class="need_object">
				<div class="icon_object"><img src="images/general_icon.png"></div>
				<div class="need_details">
					<div class="need_title">
						<%= need.title %>
						<div class="posted_by">Posted by <%= need.user %></div>
						<br style="clear:both;">
					</div>
					<div class="need_description"><%= need.description %></div>
					<div class="need_category">Category: <%= need.category %></div>
					<div class="need_links">
						<%= link_to 'Show', need %> | 
				   		<%= link_to 'Edit', edit_need_path(need) %> | 
				    	<%= link_to 'Destroy', need, :confirm => 'Are you sure?', :method => :delete %>
					</div>
				</div>
				<br style="clear:both;">
			</div>
		<% end %>
		<br />
	</div>
	<div id="needs_right_column">
		<div class="column_header">Account Options</div>
		<div class="column_object">
			<ul id="action_menu">
			<% if user_signed_in? %>
				<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
				<li>Account</li>
				<li>Messages (x)</li>
			<% else %>
				<li class="login_link"><%= link_to "Sign in", new_user_session_path %></li>
			<% end %>
			</ul>
		</div>
		
		<div class="column_header additionalHeader">Highest Rated</div>
		<div class="column_object">
			<ul id="action_menu">
				<li>Need Option 1</li>
				<li>Need Option 2</li>
				<li>Need Option 3</li>
				<li>Need Option 4</li>
			</ul>
		</div>
		
		<div class="column_header additionalHeader">Skill Categories</div>
		<div class="column_object">
			<ul id="action_menu">
				<li>Skill Category #1</li>
				<li>Skill Category #2</li>
				<li>Skill Category #3</li>
				<li>Skill Category #4</li>
			</ul>
		</div>
	</div>
	<br style="clear:both;">
</div>