<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @need.title %>
</p>

<p>
  <b>Description:</b>
  <%= @need.description %>
</p>

<p>
  <b>User:</b>
  <%= @need.user %>
</p>

<p>
  <b>Category:</b>
  <%= @need.category.name %>
</p>

<% if user_signed_in? %>
  <h3>Make an offer to fill this Need</h3>
  <%= render :partial => "offers/form" %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  to make an offer on this Need
<% end %>

<%= link_to 'Edit', edit_need_path(@need) %> |
<%= link_to 'Back', needs_path %>

